pypdf
langchain
chromadb # Vector storage
pytest
boto3
langchain-community
langchain_chroma
bs4
unstructured
markdown
python-dotenv
openai
langgraph
ollama
langchain_openai
pymongo
langchain_mongodb
streamlit
#pysqlite3-binary
#for the openapi importer
openapi-spec-validator